@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

section {
  padding: 80px 0;
}

.btn {
  border-radius: 0;
}